<% content_for(:page_title) do @zc.zonal_coverage_code + " | Zonal Coverage" end %>

<h2>Zonal Coverage</h2>
<div class="well">
  <%= render "header" %>
</div>
<div class="well">
  <div class="container">
    <%= render "tariff_zones" %>
  </div>
</div>
