<table class="table table-hover table-striped" id="bands">
  <thead>
    <tr>
      <th>Range</th>
      <th>Billing Name</th>
      <th>Billing Name (Alternate)</th>
    </tr>
  </thead>
  <tbody>
    <% @ttt.bands.each do |b| %>
    <tr>
      <td><%= b.range_words(b.min_value, b.max_value) %></td>
      <td><%= b.billing_name_1 %></td>
      <td><%= b.billing_name_2 %></td>
    </tr>
    <% end %>
  </tbody>
</table>