<% content_for(:page_title) do @ttt.tariff_tier_taper_code + " | Tier/Taper" end %>

<h2>Tariff Tier/Taper</h2>
<div class="well">
  <%= render "header" %>
</div>
<h3>Bands</h3>
<div class="well">
  <div class="container">
    <%= render "bands" %>
  </div>
</div>